{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/sculptures/sculpture-detail.css' %}" />
{% endblock %}

{% block content %}
  <section class="sculpture-container">
    <div class="sculpture-img">
      <img src="{{ sculpture.image_url }}" alt="{{ sculpture.title }}" />
    </div>
    <div class="sculpture-details">
      <h1>{{ sculpture.title }}</h1>
      <h2>By {{ sculpture.artist }}</h2>
      <p><strong>Year:</strong> {{ sculpture.year }}</p>
      <p><strong>Material:</strong> {{ sculpture.material }}</p>
      <p>{{ sculpture.description }}</p>
  
      <div class="sculpture-actions">
        <a href="{% url 'sculpture-update' sculpture.pk %}" class="btn warn">Edit</a>
        <a href="{% url 'sculpture-delete' sculpture.pk %}" class="btn danger">Delete</a>
      </div>
    </div>
  </section>
{% endblock %}
